.search-wrapper {
	background: #F2F2F2
		
			center/cover no-repeat;
	background-blend-mode: multiply;
	
	animation: fadeup 1s ease-in-out forwards;
	animation-delay: .5s;
	transform: translateY(50px);
	opacity: 0;
	
}