.form-main-wrapper {
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	

	background-size: cover;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: var(--dark);
		opacity: 0.4;
		z-index: 0;
	}
}

.form-main-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 10px;
	position: relative;
	margin: 0 auto;
	width: min(100% - 20px, 1250px);
}

.form-main-container {
	animation: fadeup 1s ease-in-out forwards;
	transform: translateY(50px);
	opacity: 0;
}

@keyframes fadeup {
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}